<!DOCTYPE html>
<html lang="en" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/api/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
<br>
<h2>Admin's page</h2>
<br><br>
<button
        th:data-url="@{/api/admin/crud}"
        onclick="window.location.href = (this.getAttribute('data-url'))">CRUD</button>
<br><br>

<div sec:authorize="hasRole('ROLE_USER')">
    <button
            th:data-url="@{/api/user}"
            onclick="window.location.href = (this.getAttribute('data-url'))">About you
    </button>
</div>

</body>
</html>