<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">

<html>
<body>
<form th:action="@{/api/logout}" method="POST">
    <input type="submit" value="Logout"/>
</form>
<br>
<button
        th:data-url="@{/api/admin}"
        onclick="window.location.href = (this.getAttribute('data-url'))">Home page</button>
<br><br>
<style>
    table {
        border: 2px solid black;
        margin: 0 auto;
    }
</style>

<div style="text-align: center;">
    <h1>Table for Users</h1>
</div>

<table>

    <tr>
        <th><h2>Name</h2></th>
        <th><h2>Surname</h2></th>
        <th><h2>Age</h2></th>
        <th><h2>Job</h2></th>
    </tr>

    <tr th:each="u : ${allUsers}">

        <td th:text="${u.getName()}"/>
        <td th:text="${u.getSurname()}"/>
        <td th:text="${u.getAge()}"/>
        <td th:text="${u.getJob()}"/>
        <td>
            <button
                    th:data-url="@{updateUser(id=${u.getId()})}"
                    onclick="window.location.href = (this.getAttribute('data-url'))">Update</button>
        </td>
        <td>
            <button
                    th:data-url="@{deleteUser(id=${u.getId()})}"
                    onclick="window.location.href = (this.getAttribute('data-url'))">Delete</button>
        </td>
    </tr>
    </c:forEach>

    <td><input type="button" value="add User" onclick="window.location.href = 'addUser'"/></td>

</table>

</body>
</html>